{% load static i18n %}
{% partialdef landing %}
    <div id="nilpoint-game-container">
        <h1>You are playing {{ game.instance_name }}</h1>
        <div id="nilpoint-character-panel"
             hx-get="{{ game.get_dispatch_url }}?action=player_selection_panel"
             hx-trigger="load, player_character_changed from:body"
             hx-target="this">
            <img alt="Result loading..."
                 class="htmx-indicator"
                 width="100"
                 height="100"
                 src="{% static 'nilpoint/ui_elements/blocks-shuffle-5.svg' %}" />
        </div>
        {# nilpoint-character-panel #}
        <div id="nilpoint-scene"
             hx-get="{{ game.get_dispatch_url }}?action=get_location_graphic"
             hx-trigger="load, player_location_changed from:body, player_character_changed from:body"
             hx-target="this">
            <img alt="Result loading..."
                 width="100"
                 height="100"
                 src="{% static 'nilpoint/ui_elements/blocks-shuffle-5.svg' %}" />
        </div>
        {# nilpoint-scene #}
        <div id="nilpoint-controls"
             hx-get="{{ game.get_dispatch_url }}?action=get_player_location_panel"
             hx-trigger="load, player_character_changed from:body, player_location_changed from:body"
             hx-target="this"
             hx-swap="innerHTML">
            <img alt="Result loading..."
                 class="htmx-indicator"
                 width="100"
                 height="100"
                 src="{% static 'nilpoint/ui_elements/blocks-shuffle-5.svg' %}" />
        </div>
        {# nilpoint-controls #}
        <div id="deck-debug"
             hx-get="{{ game.get_dispatch_url }}?action=deck"
             hx-target="this"
             hx-trigger="load, player_character_changed from:body">testing deck</div>
        {# deck-debug #}
    </div>
    {# nilpoint-game-container #}
{% endpartialdef %}
{# src="{% static 'nilpoint/locations/00_none/simple.png' %}" /> #}
