{% load static i18n %}
{% load nilpoint_tags %}
{% partialdef inventory_panel %}
    <h1>Inventory</h1>
    <ul id="nilpoint-inventory-list">
        {% for inventory_item in player_character.inventory_items.all %}
            <li>
                {% if inventory_item.item.graphic_safe %}
                    <img class="nilpoint-item-thumb"
                         src="{% static inventory_item.item.graphic_safe %}"
                         width="24"
                         height="24"
                         alt="{{ inventory_item.item.name }}">
                {% endif %}
                {{ inventory_item.item.name }}
                {% nilpoint_action "Detail" "item_detail" item=inventory_item.item.id target="#nilpoint-item-detail-panel" %}
                {% if inventory_item.item.can_drop %}
                    {% nilpoint_action "Drop" "drop_item" method="POST" inventory_item=inventory_item.id %}
                {% endif %}
            </li>
        {% empty %}
            <li>None</li>
        {% endfor %}
    </ul>
{% endpartialdef %}
