{% load static i18n %}
{% load nilpoint_tags %}
{% partialdef location_item_panel %}
    {% if player_character.current_location %}
        <h1>Items</h1>
        <ul id="nilpoint-item-list">
            {% for location_item in player_character.items_at.all %}
                <li>
                    {% include "nilpoint/item_detail_panel.jinja2#item_icon" %}
                    {{ location_item.item.name }}
                    {% nilpoint_action "Detail" "item_detail" location_item=location_item.id target="#nilpoint-item-detail-panel" %}
                    {% if location_item.item.can_take %}
                        {% nilpoint_action "Take" "take_item" method="POST" location_item=location_item.id %}
                    {% endif %}
                </li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No player/location</p>
    {% endif %}
{% endpartialdef %}
