{% load static i18n %}
{% load nilpoint_tags %}
{% partialdef location_item_panel %}
    {% if player_character.current_location %}
        <h1>Items</h1>
        <ul id="nilpoint-item-list">
            {% for location_item in player_character.items_at.all %}
                <li>
                    {% if location_item.item.graphic_safe %}
                        <img class="nilpoint-item-thumb"
                             src="{% static location_item.item.graphic_safe %}"
                             width="24"
                             height="24"
                             alt="{{ location_item.item.name }}">
                    {% endif %}
                    {{ location_item.item.name }}
                    {% nilpoint_action "Detail" "item_detail" item=location_item.item.id target="#nilpoint-item-detail-panel" %}
                    {% if location_item.item.can_take %}
                        {% nilpoint_action "Take" "take_item" method="POST" location_item=location_item.id %}
                    {% endif %}
                </li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No player/location</p>
    {% endif %}
{% endpartialdef %}
{% partialdef item_detail %}
    <div id="nilpoint-item-detail">
        <div class="nilpoint-item-detail-graphic">
            {% if item.graphic_safe %}
                <img src="{% static item.graphic_safe %}"
                     alt="{{ item.name }}"
                     width="24"
                     height="24">
            {% endif %}
        </div>
        <div class="nilpoint-item-detail-text">
            <h1>{{ item.name }}</h1>
            <p>{{ item.description }}</p>
        </div>
    </div>
{% endpartialdef %}
