{% load static i18n %}
{% load nilpoint_tags %}
{% partialdef player_location_panel %}
    <div id="nilpoint-player-location-panel">
        {% if player_character.current_location %}
            <div id="nilpoint-location-description-column">
                <h1>{{ player_character.current_location.name }}</h1>
                <p>{{ player_character.current_location.description }}</p>
            </div>
            <div id="nilpoint-exits-column">
                <h1>Exits</h1>
                <p>
                    {% for e in player_character.current_location.exits.all %}
                        {% nilpoint_action e.name "use_exit" method="POST" exit=e.id %}
                    {% empty %} None
                    {% endfor %}
                </p>
            </div>
        {% else %}
            <p>No player/location</p>
        {% endif %}
    </div>
{% endpartialdef %}
