{% load nilpoint_tags %}
{% partialdef player_selection %}
    {% if player_character %}
        <p>You are playing as {{ player_character.handle }}</p>
        {% nilpoint_action "Go back to player character selection" "select_player_character" method="POST" player_character=-1 %}
    {% else %}
        {% if player_characters %}
            <p>Select a player character:</p>
            <ul>
                {% for pc in player_characters %}
                    <li>{% nilpoint_action pc.handle "select_player_character" method="POST" player_character=pc.id %}</li>
                {% endfor %}
            </ul>
            {% if game.allow_multiple_characters %}
                <p>Or create a new one: {% nilpoint_action "New Player Character" "new_player_character" target="#nilpoint-character-panel" %}</p>
            {% endif %}
        {% else %}
            <p>
                You do not have a character for this game. Create one here:
                {% nilpoint_action "New Player Character" "new_player_character" target="#nilpoint-character-panel" %}
            </p>
        {% endif %}
    {% endif %}
{% endpartialdef %}
