{% load static i18n %}
{% partialdef test %}
    <div class="test-interact-show">
        <p>Squeeze the wotsit?</p>
        <span data-test="show-partial">SHOW PARTIAL RENDERED</span>
    </div>
{% endpartialdef %}
